<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <script src="../../js/respond.js"></script>
    <link rel="stylesheet" src="../../css/bootstrap.min.css">
    <script src="../../angular.min.js"></script>
    <script src="fillerservice.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</head>

<body>

<div ng-app="myApp">
<div ng-controller="Avengersctrl">
 <input type="text" ng-model="searchText">
    <table class="table table-hover">
        <tr ng-repeat="actor in avengers.cast | filter:searchText">
            <td>{{actor.name}}</td>
            <td>{{actor.character}}</td>
            <td>{{actor.pic}}</td>
        </tr>
    </table>

</div>

</div>

<!-- javascript -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
